* {
	box-sizing: border-box;	
}
#nav{
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
p{
	margin:20px;
}
body {
	background-image: url(assets/images/usmap.jpg);
	background-repeat: no-repeat;
	background-size: 75%;
	background-position: center top;
    margin-top: 50px;
    background-attachment: fixed;
}
.jumbo, .pic, .score{
	background-color: rgba(245, 245, 245, 0.8);
}
